@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    transition: all 0.5s ease;
}

.btnCursor{
    cursor: pointer;
}
.holeBox{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "header"
    "presentText"
    "main";
    grid-template-rows: 3fr 1fr 9fr ;
    grid-template-columns: 100vw;
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
  }
  

.hamburguerMenu{
    display: none;
}

header{
    height: 100%;
    grid-area: header;
    display: flex;
    background-color: #2C2A2B;
}

.menuListContainer{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.containerBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background-size: cover;
    width: 100vw;
    background-image: url(./media/background.png);
    grid-area: main;
}

.menuListItems:hover{
    background-color: #FC3626;
    border-radius: 7%;

}
.presentText{
    grid-area: presentText;
    
}

.logo{
    max-width: 200px;
}

.buyTicketBtn{
    border: none;
    background-color: black;
    
}
.buyTicketBtn:hover{
    background-color: rgb(35, 35, 35);
}

@media screen and (min-width:320px) and (max-width:480px) {
    .containerBox{
        background-position: 27%;
        height: 100%;
    }

    .logoContainer{
        display: flex;
        justify-content: center;
    }

    .logo{
        width: 40vw;
    }

    header{
        flex-direction: column;
    }

    .menuListContainer{
        gap: 2%;
        padding: 2% 0px;
        font-size: 70%;
    }

    .menuListItems{
        padding: 2%;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 5% 0px;
        font-size: 4.5vw;
    }
    .buyTicketBtnContainer{
        display: none;
    }   
}

@media screen and (min-width:481px) and (max-width:580px) {
    .containerBox{
        background-position: 27%;
        height: 100%;
    }

    .logoContainer{
        display: flex;
        justify-content: center;
    }

    .logo{
        width: 30vw;
    }

    header{
        flex-direction: column;
    }

    .menuListContainer{
        gap: 2%;
        padding: 2% 0px;
        font-size: 3vw;
    }

    .menuListItems{
        padding: 2%;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 2% 0px;
        font-size: 4.5vw;
    }
    .buyTicketBtnContainer{
        display: none;
    }   
}

@media screen and (min-width:581px) and (max-width:1024px) {
    .containerBox{
        background-position: 22%;
        height: 100%;
    }

    .logoContainer{
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .logo{
        width: 30vw;
    }
    .menuContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .menuListContainer{
        gap: 2%;
        padding: 2% 0px;
        font-size: 2.3vw;
    }

    .menuListItems{
        padding: 2%;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 3% 0px;
        font-size: 4vw;
    }
    .buyTicketBtnContainer{
        display: none;
    }   
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .logo{
        width: 25vw;
    }
    .containerBox{
        height: 100%;
    }
    .menuListContainer{
        gap: 2%;
        padding: 1.5% 0px;
        font-size: 2.4vw;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 2.5% 0px;
        font-size: 30px;
    }
    .containerBox{
        justify-content: end;
        align-items: end;
    }
    .buyTicketBtnContainer{
        display: flex;
        width: 30%;
        margin: 5%;
    }       
    .buyTicketBtnContainer a{
        width: 100%;
    }
    .buyTicketBtn{
        width: 100%;
        border-radius: 50px;
        padding: 7% 9%;
        font-size: 85%;
    }
}

@media screen and (min-width:1024px) and (max-width:1300px){
    .containerBox{

        height: 100%;
    }

    .logoContainer{
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .logo{
        width: 30vw;
    }
    .menuContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .menuListContainer{
        gap: 15px;
        padding: 1.5% 0px;
        font-size: 26px;
    }

    .menuListItems{
        padding: 2%;
    }
    .containerBox{
        justify-content: end;
        align-items: end;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 20px 0px;
        font-size: 30px;
    }
    .buyTicketBtnContainer{
        display: flex;
        width: 30%;
        margin: 5%;
    }       
    .buyTicketBtnContainer a{
        width: 100%;
    }
    .buyTicketBtn{
        width: 100%;
        border-radius: 70px;
        padding: 7% 9%;
        font-size: 98%;
    }
}

@media screen and (min-width:1301px){
    .containerBox{
        height: 100%;
    }

    .logoContainer{
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .logo{
        width: 30vw;
    }
    .menuContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .menuListContainer{
        gap: 15px;
        padding: 1.5% 0px;
        font-size: 26px;
    }

    .menuListItems{
        padding: 2%;
    }
    .containerBox{
        justify-content: end;
        align-items: end;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 20px 0px;
        font-size: 30px;
    }
    .buyTicketBtnContainer{
        display: flex;
        width: 30%;
        margin: 2.5%;
    }       
    .buyTicketBtnContainer a{
        width: 100%;
    }
    .buyTicketBtn{
        width: 100%;
        border-radius: 90px;
        padding: 20px 25px;
        font-size: 24px;
    }
}