@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    transition: all 0.5s ease;
}

a{
    text-decoration: none;
}

.btnCursor{
    cursor: pointer;
}
.holeBox{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "header"
    "presentText"
    "main";
    grid-template-rows: 2fr 0.5fr 9fr ;
    grid-template-columns: 100vw;
    overflow-x: hidden;
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
}

header{
    height: 100%;
    grid-area: header;
    display: flex;
    background-color: #2C2A2B;
}

.menuListContainer{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.containerBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background-size: cover;
    width: 100vw;
    background-image: url(./media/background.png);
    grid-area: main;
}

.menuListItems:hover{
    background-color: #FC3626;
    border-radius: 7%;

}
.presentText{
    grid-area: presentText;
    
}

.buyTicketBtn{
    border: none;
    background-color: black;
    
}
.buyTicketBtn:hover{
    background-color: rgb(35, 35, 35);
}

@media screen and (min-width:320px) and (max-width:480px) {
    .containerBox{
        background-position: 27%;
        height: 100%;
    }

    .logoContainer{
        display: flex;
        justify-content: center;
    }

    .logo{
        max-width: 60px;
        width: 40vw;
    }

    header{
        flex-direction: column;
    }

    .menuListContainer{
        gap: 2%;
        padding: 2% 0px;
        font-size: 70%;
    }

    .menuListItems{
        padding: 2%;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 3% 0px;
        font-size: 4vw;
    }
    .buyTicketBtnContainer{
        display: none;
    }   
}

@media screen and (min-width:481px) and (max-width:580px) {
    .containerBox{
        background-position: 27%;
        height: 100%;
    }

    .logoContainer{
        display: flex;
        justify-content: center;
    }

    .logo{
        max-height: 80px;
    }

    header{
        flex-direction: column;
    }

    .menuListContainer{
        gap: 2%;
        padding: 2% 0px;
        font-size: 3vw;
    }

    .menuListItems{
        padding: 2%;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 1.5% 0px;
        font-size: 3.2vw;
    }
    .buyTicketBtnContainer{
        display: none;
    }   
}

@media screen and (min-width:581px) and (max-width:1024px) {
    .containerBox{
        height: 100%;
    }

    .logoContainer{
        width: 40%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .logo{
        max-width: 90px;
    }
    .menuContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .menuListContainer{
        gap: 2%;
        padding: 2% 0px;
        font-size: 2.3vw;
    }

    .menuListItems{
        padding: 2%;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 2% 0px;
        font-size: 3vw;
    }
    .buyTicketBtnContainer{
        display: none;
    }   
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .logo{
        width: 25vw;
    }
    .containerBox{
        height: 100%;
    }
    .menuListContainer{
        gap: 2%;
        padding: 1.5% 0px;
        font-size: 2.4vw;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 2% 0px;
        font-size: 20px;
    }
    .containerBox{
        justify-content: end;
        align-items: end;
    }
    .buyTicketBtnContainer{
        display: flex;
        width: 30%;
        margin: 2%;
    }       
    .buyTicketBtnContainer a{
        width: 100%;
    }
    .buyTicketBtn{
        width: 100%;
        border-radius: 50px;
        padding: 7% 9%;
        font-size: 85%;
    }
}

@media screen and (min-width:1025px) and (max-width:1300px){
    .containerBox{
        height: 100%;
    }

    .logoContainer{
        width: 30%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .logo{
        max-width: 100px ;
    }
    .menuContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .menuListContainer{
        gap: 15px;
        padding: 1.5% 0px;
        font-size: 26px;
    }

    .menuListItems{
        padding: 2%;
    }
    .containerBox{
        justify-content: end;
        align-items: end;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 15px 0px;
        font-size: 25px;
    }
    .buyTicketBtnContainer{
        display: flex;
        width: 30%;
        margin: 1.5%;
    }       
    .buyTicketBtnContainer a{
        width: 100%;
    }
    .buyTicketBtn{
        width: 100%;
        border-radius: 70px;
        padding: 7% 9%;
        font-size: 98%;
    }
}

@media screen and (min-width:1301px){
    .containerBox{
        height: 100%;
    }

    .logoContainer{
        width: 20%;
        display: flex;
        justify-content: center;
    }
    .menuContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .menuListContainer{
        gap: 15px;
        padding: 1.5% 0px;
        font-size: 26px;
    }

    .menuListItems{
        padding: 2%;
    }
    .containerBox{
        justify-content: end;
        align-items: end;
    }
    .presentText{
        background-color: #FC3626;
        width: 100%;
        text-align: center;
        padding: 20px 0px;
        font-size: 25px;
    }
    .buyTicketBtnContainer{
        display: flex;
        width: 30%;
        margin: 1.5%;
    }       
    .buyTicketBtnContainer a{
        width: 100%;
    }
    .buyTicketBtn{
        width: 100%;
        border-radius: 90px;
        padding: 20px 25px;
        font-size: 24px;
    }
}

/* -------------------------------------------------------------------------------------------------------------- */

/* Estilizando a tela de parceiros */
.parceirosContainerBox{
    background-color: #2C2A2B;
    background-image: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}



.mogra-regular {
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-top: 5px;
  }
  

.patrocinadoresContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;

}

.patrocinadorCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.patrocinadores{
    width: 144px;
    height: 69px;
}

@media screen and (min-width:320px) and (max-width:430px) {
    .parceirosContainerBox{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .patrocinadorCard{
        padding: 15px;
    }

    .patrocinadoresContainer{
        padding: 5% 20%;
    }
}


@media screen and (min-width:431px) and (max-width:768px) {
    .patrocinadorCard{
        padding: 15px;
    }
    
}
@media screen and (min-width:769px) and (max-width:1024px) {
    .patrocinadorCard{
        padding: 15px;
    }
    .patrocinadores{
        width: 164px;
        height: 89px;
    }
    .patrocinadoresContainer{
        width: 75%;
    }
}
@media screen and (min-width:1025px) and (max-width:1300px) {
    .patrocinadorCard{
        padding: 15px;
    }
    .patrocinadores{
        width: 164px;
        height: 89px;
    }
    .patrocinadoresContainer{
        width: 60%;
    }
}
@media screen and (min-width:1301px) and (max-width: 1440px){
    .patrocinadorCard{
        padding: 15px;
    }

    .patrocinadoresContainer{
        width: 50%;
    }

    .patrocinadores{
        width: 174px;
        height: 99px;
    }
}
@media screen and (min-width:1441px) and (max-width: 1680px){
    .patrocinadorCard{
        padding: 15px;
    }

    .patrocinadoresContainer{
        width: 50%;
    }

    .patrocinadores{
        width: 184px;
        height: 109px;
    }
}

@media screen and (min-width:1681px) and (max-width: 1920px){
    .patrocinadorCard{
        padding: 15px;
    }

    .patrocinadoresContainer{
        width: 40%;    }

    .patrocinadores{
        width: 194px;
        height: 129px;
    }
}

/* ------------------------------------------------------------------------------------------------------------ */
/* Aqui e a tela de times */

.teams-column {
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    height: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3%;
  }

  .teams-column2{
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    height: 85%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 3px solid #2C2A2B;
    padding: 3%;

  }


  .cntainerBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;    
    flex-direction: column;

  }
  .popo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  .back{
    width: 100%;
    height: 100%;
    padding: 2%;
    background-color: #2C2A2B;
  }
.a1{
    height: 19%;
    width: 19%;
    margin-left: 10%;
    height: auto;
}
.a2{
    color: black;
    font-size: 250%;
}
.a3{
    display: flex;
    justify-content: left;
}
.a4{
    display: flex;
    justify-content: right;
}

.rodape1{
    background-color: #FC3626;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 6.4vh;
    justify-content: center;
   font-size: 170%;
}


   @media screen and (min-width:320px) and (max-width:480px) {
    .teams-column {
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: 70%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    
      .teams-column2{
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: 70%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 3px solid #2C2A2B;
    
      }
    
    
      .cntainerBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;    
        flex-direction: column;
    
      }
      .popo{
        width: 85%;
        height: 100%;
    
      }
      .back{
        width: 100%;
        height: 100%;
        background-color: #2C2A2B;
        display: flex;
        justify-content: center;
      }
    .a1{
        height: 19%;
        width: 19%;
        margin-left: 10%;
        height: auto;
    }
    .a2{
        color: black;
        font-size: 100%;
    }
    .a3{
        display: flex;
        justify-content: left;
        width: 95%;
    }
    .a4{
        display: flex;
        width: 95%;
        justify-content: right;
    }
    
    .rodape1{
        background-color: #FC3626;
        width: 100vw;
        display: flex;
        align-items: center;
        height: 6.4vh;
        justify-content: center;
       font-size: 120%;
    

   }
}

@media screen and (min-width:480px) and (max-width:580px) {
    .teams-column {
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: 70%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    
      .teams-column2{
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: 70%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 3px solid #2C2A2B;
    
      }
    
    
      .cntainerBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;    
        flex-direction: column;
    
      }
      .popo{
        width: 80%;
        height: 100%;
    
      }
      .back{
        width: 100%;
        height: 100%;
        background-color: #2C2A2B;
        display: flex;
        justify-content: center;
      }
    .a1{
        height: 19%;
        width: 19%;
        margin-left: 10%;
        height: auto;
    }
    .a2{
        color: black;
        font-size: 120%;
    }
    .a3{
        display: flex;
        justify-content: left;
        width: 90%;
    }
    .a4{
        display: flex;
        width: 90%;
        justify-content: right;
    }
    
    .rodape1{
        background-color: #FC3626;
        width: 100vw;
        display: flex;
        align-items: center;
        height: 6.4vh;
        justify-content: center;
       font-size: 120%;
    

   }
}

@media screen and (min-width:581px) and (max-width:1024px) {
    .teams-column {
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: 80%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    
      .teams-column2{
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: 80%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 3px solid #2C2A2B;
    
      }
    
    
      .cntainerBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;    
        flex-direction: column;
    
      }
      .popo{
        width: 85%;
        height: 100%;
    
      }
      .back{
        width: 100%;
        height: 100%;
        background-color: #2C2A2B;
        display: flex;
        justify-content: center;
      }
    .a1{
        height: 19%;
        width: 19%;
        margin-left: 10%;
        height: auto;
    }
    .a2{
        color: black;
        font-size: 150%;
    }
    .a3{
        display: flex;
        justify-content: left;
        width: 95%;
    }
    .a4{
        display: flex;
        width: 95%;
        justify-content: right;
    }
    
    .rodape1{
        background-color: #FC3626;
        width: 100vw;
        display: flex;
        align-items: center;
        height: 6.4vh;
        justify-content: center;
       font-size: 120%;
    

   }
}

@media screen and (min-width:1024px) and (max-width:1300px) {
    .teams-column {
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: 110%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 37%;
        padding: 3%;


      }
    
      .teams-column2{
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: 110%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 3px solid #2C2A2B;
        width: 37%;
        padding: 3%;
    
      }
    
    
      .cntainerBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;    
        flex-direction: column;
    
      }
      .popo{
        padding: 4%;
        width: 100%;
        height: 100%;
    
      }
      .back{
        width: 100%;
        height: 100%;
        background-color: #2C2A2B;
        display: flex;
        justify-content: center;
      }
    .a1{
        height: 19%;
        width: 19%;
        margin-left: 10%;
        height: auto;
    }
    .a2{
        color: black;
        font-size: 220%;
    }
    .a3{
        display: flex;
        justify-content: left;
        width: 95%;
    }
    .a4{
        display: flex;
        width: 95%;
        justify-content: right;
    }
    
    .rodape1{
        background-color: #FC3626;
        width: 100vw;
        display: flex;
        align-items: center;
        height: 6.4vh;
        justify-content: center;
       font-size: 150%;
    

   }
}

@media screen and (min-width:1301px)  {
    .teams-column {
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: 80%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 37%;

      }
    
      .teams-column2{
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: 80%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 3px solid #2C2A2B;
        width: 37%;
    
      }
    
    
      .cntainerBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;    
        flex-direction: column;
    
      }
      .popo{
        width: 90%;
        height: 100%;
    
      }
      .back{
        width: 100%;
        height: 100%;
        background-color: #2C2A2B;
        display: flex;
        justify-content: center;
      }
    .a1{
        height: 19%;
        width: 19%;
        margin-left: 10%;
        height: auto;
    }
    .a2{
        color: black;
        font-size: 270%;
    }
    .a3{
        display: flex;
        justify-content: left;
        width: 85%;
    }
    .a4{
        display: flex;
        width: 85%;
        justify-content: right;
    }
    
    .rodape1{
        background-color: #FC3626;
        width: 100vw;
        display: flex;
        align-items: center;
        height: 6.4vh;
        justify-content: center;
       font-size: 200%;
    

   }
}

/* ------------------------------------------------------------------------------------------ */
/* Começando CSS tela-programação*/

.backTicket{
    
    grid-area: main;
    background-color: #2C2A2B;
    height: 100%;
    display: flex;
    justify-content: center;
}

.borderTicket{
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    width: 70%;
    padding: 1%;
    
}

.ticket{
    width: 100%;
    
}

.date{

    background-color: #FC3626;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    padding-left: 10px;
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
}

.cardText{
    display: flex;
    align-items: center;
    padding:  20px 10px;
    background-color: white;
    margin-bottom: 2%;
    
}

.hour{
    color: black;
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
    text-align: center;
    
}

.info{
    color: black;
    font-family: "Luckiest Guy", cursive;
    font-style: normal;

}

.a{
    display: flex;
    width: 20%;
    justify-content: center;
    
}

.b{
    padding-left: 15%;
    width: 100%;
    border-left: solid 2px black;
}

/* -------------------------------------------------------------------------- 
/* Começando CSS mobile tela-programação*/

@media screen and (min-width:320px) and (max-width:480px) {

    .backTicket{
    
        grid-area: main;
        background-color: #2C2A2B;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .borderTicket{
        display: flex;
        justify-content: center;    
        flex-wrap: wrap;
        width: 85%;
        padding: 5%;
        
    }
    
    .ticket{
        width: 100%;
        
    }
    
    .date{
    
        background-color: #FC3626;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: black;
        padding-left: 10px;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        
    }
    
    .cardText{
        display: flex;
        align-items: center;
        padding:  20px 11px;
        background-color: white;
        height: 65%;
        
    }
    
    .hour{
        color: black;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        text-align: center;
        
    }
    
    .info{
        color: black;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        font-size: 85%;
    
    }
    
    .a{
        display: flex;
        width: 30%;
        justify-content: center;
        
    }
    
    .b{
        padding-left: 15%;
        width: 100%;
        border-left: solid 2px black;
    }
    
}

@media screen and (min-width:481px) and (max-width:580px) {
    .backTicket{
    
        grid-area: main;
        background-color: #2C2A2B;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .borderTicket{
        display: flex;
        justify-content: center;    
        flex-wrap: wrap;
        width: 85%;
        padding: 5%;
        
    }
    
    .ticket{
        width: 100%;
        
    }
    
    .date{
    
        background-color: #FC3626;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: black;
        padding-left: 10px;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        
    }
    
    .cardText{
        display: flex;
        align-items: center;
        padding:  20px 11px;
        background-color: white;
        height: 65%;
        
    }
    
    .hour{
        color: black;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        text-align: center;
        
    }
    
    .info{
        color: black;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        font-size: 85%;
    
    }
    
    .a{
        display: flex;
        width: 30%;
        justify-content: center;
        
    }
    
    .b{
        padding-left: 15%;
        width: 100%;
        border-left: solid 2px black;
    }
}

@media screen and (min-width:581px) and (max-width:1024px){

    .backTicket{
    
        grid-area: main;
        background-color: #2C2A2B;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .borderTicket{
        display: flex;
        justify-content: center;    
        flex-wrap: wrap;
        width: 85%;
        padding: 5%;
        
    }
    
    .ticket{
        width: 100%;
        
    }
    
    .date{
    
        background-color: #FC3626;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: black;
        padding-left: 10px;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        font-size: 25px;
        
    }
    
    .cardText{
        display: flex;
        align-items: center;
        padding:  20% 11px;
        background-color: white;
        height: 40%;
        
    }
    
    .hour{
        color: black;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        text-align: center;
        font-size: 25px;
        margin-right: 10px;
        
    }
    
    .info{
        color: black;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        font-size: 25px;
    
    }
    
    .a{
        display: flex;
        width: 30%;
        justify-content: center;
        
    }
    
    .b{
        padding-left: 15%;
        width: 100%;
        border-left: solid 2px black;
    }
}

@media screen and (min-width:1024px) and (max-width:1300px){

    .backTicket{
        grid-area: main;
        background-color: #2C2A2B;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .borderTicket{
        display: flex;
        justify-content: center;    
        flex-wrap: wrap;
        width: 85%;
        padding: 5%;
        
    }
    
    .ticket{
        width: 100%;
        height: 20%;
    }
    
    .date{
    
        background-color: #FC3626;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: black;
        padding-left: 10px;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        font-size: 30px;
        
    }
    
    .cardText{
        display: flex;
        align-items: center;
        padding:  3% 5%;
        background-color: white;
        height: 100%;
        
    }
    
    .hour{
        color: black;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        text-align: center;
        font-size: 25px;
        margin-right: 10px;
        font-size: 30px;
    }
    
    .info{
        color: black;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        font-size: 30px;
    
    }
    
    .a{
        display: flex;
        width: 30%;
        justify-content: center;
        
    }
    
    .b{
        padding-left: 15%;
        width: 100%;
        border-left: solid 2px black;
    }
}

@media screen and (min-width:1301px){
    .backTicket{
    
        grid-area: main;
        background-color: #2C2A2B;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .borderTicket{
        display: flex;
        justify-content: center;    
        flex-wrap: wrap;
        width: 85%;
        padding: 5%;
        
    }
    
    .ticket{
        width: 100%;

    }
    
    .date{
    
        background-color: #FC3626;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: black;
        padding-left: 10px;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        font-size: 40px;
        
    }
    
    .cardText{
        display: flex;
        align-items: center;
        padding:  20% 11px;
        background-color: white;
        height: 100%;
        
    }
    
    .hour{
        color: black;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        text-align: center;
        font-size: 25px;
        margin-right: 10px;
        font-size: 40px;
    }
    
    .info{
        color: black;
        font-family: "Luckiest Guy", cursive;
        font-style: normal;
        font-size: 40px;
    
    }
    
    .a{
        display: flex;
        width: 30%;
        justify-content: center;
        
    }
    
    .b{
        padding-left: 15%;
        width: 100%;
        border-left: solid 2px black;
    }
}